  <div class="footer d-flex align-items-center flex-column mt-3 mb-3">
  <div>© 2022 Snoared ⩥ Privacy ⩥ Terms ⩥ Sitemap</div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      English (US) ¥ JPN
    </div>
  </div>
