<div class="container">

  <h1>My Gears</h1>
  <%= link_to "Add Gear", new_gear_path, class: "btn btn-danger text-white" %>

  <div class="container-fluid col-10">
    <%= render 'shared/card-index-owner' %>
  </div>
</div>
