<h1>Gears#show</h1>
<p>Find me in app/views/gears/show.html.erb</p>

<%= @gear.title %>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-auto">
      <%= render 'gears/form' %>
    </div>
  </div>
</div>
