.cards-index-owner {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 36px;
  max-width: 360px;
  text-decoration:none;
  color:black;
}
.cards-index-owner:hover{
  transform: scale(1.02);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
opacity: 0.8;
text-decoration:none;
color:black;
}

.cards-index-owner > a img{
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 16px;
}

.cards-index-owner h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 16px;
}

.cards-index-owner p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-bottom:16px;
}
.cards-index-owner .price{

}


.cards-index-owner .cards-index-owner-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cards-index-owner-infos .cards-index-owner-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


// ↓↓↓↓↓↓↓ card layout ↓↓↓↓↓↓↓

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards{
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
