.mapboxgl-popup {
  max-width:200px;
}
.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content img {
  height:50px;
  width:50px;
  object-fit: contain;
}
.mapbox-gl-map {
  margin-left:20px;
}
.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100% !important;
  border: 1px solid lightgrey;
  box-shadow: none;
}
