.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,0.5));
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
